@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-italic: var(--font-lora);
}

@layer utilities {
  .text-body {
    @apply text-base;
  }

  .vertical-text {
    writing-mode: sideways-lr;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  color: var(--color-gray-700);
}

i {
  font-family: Georgia, serif;
  color: var(--color-gray-900);
  font-weight: 400;
}
